{% extends 'base.html' %}
{% block title %}
  Новая запись {{ author.get_full_name }}
{% endblock %}
{% block content %}
    <main>
      <div class="container py-5">
        <div class="row justify-content-center">
          <div class="col-md-8 p-5">
            <div class="card">
              <div class="card-header">       
                {% if is_edit %}
                  Редактировать пост
                {% else %}
                  Новый пост
                {% endif %}
              </div>
              <div class="card-body">
                <!--{% if user.is_authenticated %}-->
                  <!--<form method="post" action="{% url 'posts:post_create' %}" class="form-control">-->
                  {% if is_edit %}
                    <form method="post" action="{% url 'posts:post_edit' post.id %}" class="form-control">
                  {% else %}
                    <form method="post" action="{% url 'posts:post_create' %}" class="form-control">
                  {% endif %}
                <!--{% endif %}-->
                  {% csrf_token %}
                  <div class="form-group row my-3 p-3">
                    <label>
                      Текст поста
                      <span class="required text-danger" >*</span>
                    </label>
                    {{ form.text }}
                    <small id="id_text-help" class="form-text text-muted">
                      Текст нового поста
                    </small>
                  </div>
                  <div class="form-group row my-3 p-3">
                    <label for="id_group">
                      Группа
                    </label>
                    {{ form.group }}
                    <small id="id_group-help" class="form-text text-muted">
                      Группа, к которой будет относиться пост
                    </small>
                  </div>
                  <div class="d-flex justify-content-end">
                    <button type="submit" class="btn btn-primary">
                      {% if is_edit %}
                        Сохранить
                      {% else %}
                        Добавить
                      {% endif %}
                    </button>
                    {% if post.group %}
                      <a href="{% url 'posts:group_list' post.group.slug %}">все записи группы</a>
                    {% endif %}
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </main>
{% endblock %}