{% extends 'base.html' %}
{% block title %}
  Профайл пользователя {{ author }}
{% endblock %}
{% block content %}
{% for posts in page_obj %}
<main>
  <div class="container py-5">
    <h1>Все посты пользователя {{ author }} </h1>
    <h3>Всего постов: <!-- --> </h3>
      <article>
        <ul>
          <li>
            Автор: {{ author }}
            <a href="{% url 'posts:profile' username=author.username %}">все посты пользователя</a>
          </li>
          <li>
            Дата публикации: {{ posts.pub_date|date:"d E Y" }}
          </li>
        </ul>
        <p>
          {{ posts.text }}
        </p>
        <a href="{% url 'posts:post_detail' post_id=posts.id %}">подробная информация </a>
      </article>
      {% if post.group %}
        <a href="{% url 'posts:group_list' post.group.slug %}">все записи группы</a>
      {% endif %}
      <hr>
      <!-- Остальные посты. после последнего нет черты -->
  </div>
</main>
{% endfor %}
{% include 'posts/includes/paginator.html' %}
{% endblock %}